*{
  box-sizing: border-box;
}


/* styling for the grid wrapper class */
body { 
  height: 100vh;
  margin: 0;
  background-color: black;
}

h1 {
  color: red;
  text-align: center;
  font-size: 50px;
  font-family: 'Monoton', cursive;
}

/* h2 { 
  color: white; 
  font-size: 15px;
} */

.Start-Game {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white; 
  font-family: 'Press Start 2P', cursive;
}

.Start-Game #start {
  height: 40px;
  width: 150px;
  font-size: 11px;
  font-family: 'Press Start 2P', cursive;
  border: none;
  outline: none;
}

.Start-Game #restart {
  height: 40px;
  width: 150px;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  border: none;
  outline: none;
}

.Start-Game p { 
  font-size: 18px;
  /* font-family: 'Press Start 2P', cursive; */

}

.Start-Game #score-display { 
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
}


.grid-wrapper {
  /* position: relative; */
  height: 90vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.grid {
  /* position: relative; */
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.493);
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  justify-content: center;
  height: 600px;
  width: 1500px;
  border: 1px solid grey;
  color: white;
}

.grid div {
  /* border: 1px solid lightgrey; */
  /* flex-grow: 1; */
  height: 5%;
  width: 7.5%;
}

/* styling for each brick class */

.purple { 
  background-color: rgba(196, 23, 196, 0.9);
  border: 1px solid lightgrey;
}

.green { 
  background-color: green;
  border: 1px solid lightgrey;
}


.yellow {
  background-color: yellow;
  border: 1px solid lightgrey;
}

.purple,
.green, 
.yellow { 
  color: black;
  /* background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png"); */
}


/* styling for ball */

.grid div.ball {
  background-image: url('../images/Disco-Ball.svg');
  background-repeat: no-repeat; 
  background-size: contain;
  /* z-index: 1; */
}

.Disco-Ball {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 525px; 
  left: 580px; 
}

.invisible { 
  display: none; 
} 

#invisiStart {
  display: none;
}


/* styling for the paddle bar */
.paddle {
  background-color: rgb(44, 131, 231);
  color: black;
}
